
html {
	overflow-x: hidden; // убрать скролл
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	font-size: 16px;
}

body {
  overflow-x: clip;  // задать скролл
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}

.text {
	color: var(--text-muted);
	font-size: 18px;
	line-height: 1.5;

	p + p {
		margin-top: 1em;
	}

	@include mobile {
		font-size: 16px;
	}
	
}

.muted {
	color: var(--text-muted);
}

// button для testimonials
.read-more {
	align-self: center;
	color: white;
	width: 200px;
	line-height: 2.5;
	padding: 5px 10px;
	background-color: var(--accent);
	border-radius: 8px;
}


