@font-face {
	font-family: circularStd;
	font-display: swap;
	src: url("../fonts/circularStd.woff2") format("woff2"), url("../fonts/circularStd.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
