:root {
	--container-width: 1230px;
	--container-padding: 15px;

	--font-main: 'Circular Std', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--text-color: #181818;
	--text-muted: #909090;
	--accent: #35AFF4;
	--link-color: #2578c8;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}