.card-reviwer {
    min-height: 325px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-self: stretch;

    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(23, 28, 31, 0.23);
    transition: box-shadow 0.2s ease-in;

    &:hover {
        box-shadow: 0 5px 25px rgba(18, 20, 20, 0.23);
    }
}   

.card-reviwer__rating {
    display: flex;
    gap: 4px;
}

.card-reviwer__text {
    font-size: 16px;
    line-height: 1.5;
    height: 120px;

    overflow-block: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    scroll-snap-align: start;
    scroll-snap-type: y proximity;  
    scroll-snap-stop: always;

    &:hover {
        scrollbar-color: #c1c1c1 #f1f1f1;
    }

    @include mobileXs {
        font-size: 14px;
    }
}

.card-reviwer__author {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 16px;
}

.card-reviwer__author-img {
    border-radius: 8px;
}

.card-reviwer__author-title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;

	@include mobileXs {
		font-size: 15px;
	}
}

.card-reviwer__author-role {
    color: var(--text-muted);
}