.form {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
    gap: 15px;
    align-items: center;

    @include mobile {
        grid-template-columns: 1fr;
    }
}

.form__label {
    padding-left: 36px;

    display: grid;
    gap: 8px;

    background-image: url('.././img/icons/map.svg');
    background-position: 0 0; /* x y */
    background-size: auto;
    background-repeat: no-repeat;

    span {
        font-size: 16px;
        font-weight: 700;
        
        @include mobile {
            font-size: 14px;
        }
    }
}

.form__label--date {
    background-image: url('.././img/icons/calendar.svg');
}

.form__devider {
    width: 1px;
    height: 24px;
    background-color: var(--text-muted);
    border: 1px solid rgba(144, 144, 144, 1);

    @include mobile {
        display: none;
    }
}

.form__input {
    font-size: 14px;
    font-weight: 400;

    @include tabletBig {
        font-size: 13px !important;
    }
}

.form__btn {
    position: relative;
    width: 48px;
	height: 48px;
    background-color: var(--accent);
	border-radius: 10px;
    transition: opacity 0.2s ease-in, background-color 0.2s ease-in;

    &:hover {
        opacity: 0.9;
        background-color: #2578c8;
    }

    @include tabletBig {
        width: 40px;
        height: 40px;
    }

    @include mobile {
        width: 100%;
    }
}

