.popular {
    padding: 60px 0;
}

.popular__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 32px;

    @include mobileS {
        flex-direction: column;
        align-items: start;
        gap: 16px;
        margin-bottom: 16px;
    }
}

.popular__title {
    display: grid;
    gap: 16px;

    @include mobile {
        gap: 8px;
    }
}

.popular__controll {
    display: flex;
    flex-shrink: 0;
    gap: 15px;

    @include mobile {
        gap: 10px;
    }
}

