.scroll-down {
    position: relative;
    display: inline-block;
    overflow: hidden;

    @include tabletBig {
        width: 100px;
        height: 100px;
    }
}

.scroll-down__text {
    animation: rotation 15s linear infinite running normal;
}

.scroll-down__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tabletBig {
        width: 35px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}