.subscribe-form {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 12px;

    @include tabletMid {
        grid-template-columns: 3fr 0.5fr;
    }

    @include mobileS {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.subscribe-form__input {
    max-width: 400px;
    height: 48px;
    padding: 12px;
    padding-left: 44px;

    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 8px;
    background-color: #fff;

    color: var(--text-color);
    font-size: 14px;
    line-height: 1.5;

    background-image: url('./../img/icons/email.svg');
    background-position: 12px 11px; /* x y */
    background-repeat: no-repeat;

    transition: 0.2s linear;

    &:focus{
        box-shadow: 0 0px 15px rgba(57, 45, 45, 0.5);
    }

    &::placeholder {
        color: var(--text-muted);
    }
}

.subscribe-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 24px 12px 24px;
    width: 120px;
    height: 48px;

    font-size: 16px;
    line-height: 1.5;

    border-radius: 8px;
    background-color: var(--text-color);
    transition: 0.2s linear;

    &:hover{
        opacity: 0.9;
        box-shadow: 0 0 15px rgb(239, 233, 233);
    }

    @include mobileS {
        justify-self: center;
    }
}