.title-1 {
	color: var(--text-color);
	font-size: 72px;
	font-weight: 700;

	&--decor {
		position: relative;
		z-index: 0;
	}
	
	&--decor::after {
		content: "";
		
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 268px;
		height: 24px;

		z-index: -1;
		
		background-image: url('./../img/discover/underline.svg');
		background-repeat: no-repeat;
		background-size: contain;
		animation: decorSkew 900ms linear infinite alternate;

		@include mobile {
			width: 180px;
			height: 12px;
		}
	}

	@include laptop {
		font-size: 70px;
	}

	@include tabletBig {
		font-size: 50px;
		line-height: 1.2;
	}

	@include mobile {
		font-size: 35px;
	}

	@include mobileXs {
		font-size: 26px;
	}
}

@keyframes decorSkew {
	from {
		transform: translateY(0) skew(0deg, 0deg);
	}
	to {
		transform: translateY(1px) skew(-1deg, -1deg);
	}
}


.title-2 {
	color: var(--tex-muted);
	font-size: 24px;
	font-weight: 500;
	line-height: 1.4;

	
    @include laptop {
		text-align: center;
    }

	@include mobile {
		font-size: 20px;
	}
}

.title-3 {
	font-size: 36px;
	font-weight: 500;

	@include mobile {
		font-size: 26px;
	}

	@include mobileXs {
		font-size: 23px;
	}
}

.title-4 {

}